<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template Engine</title>
  <style>
    body {
      margin: 0;
      display: grid;
      place-content: center;
      color: #fff;
      background-color: rgb(25, 25, 65);
      min-height: 100vh;
      font-family: 'Lucida Sans', sans-serif;
    }
  </style>
</head>
<body>
  <h1>Hola desde {{ name }}!</h1>
</body>
</html>