*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  background-color: #151515;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 60rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
